/* --------------------------- */
/*          VARIABLES          */
/* --------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --green-color: #7acc2d;
  --black-color: #313337;
  --white-color: #eeeeee;
  --shadow: 0 1px 6px -1px #a3a3a3;
}
html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  display: inline;
  color: var(--black-color);
}
label {
  font-size: 12px;
}
header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-color);
  padding: 10px;
  box-shadow: 0px 1px 5px 0px var(--green-color);
}
.brand-image img {
  height: 100%;
}
.nav-options a {
  padding: 0 10px;
  color: var(--black-color);
  font-size: 12px;
  font-weight: 400;
}
.nav-options a:hover {
  color: white;
}
/* --------------------------- */
/*        MAIN SECTION         */
/* --------------------------- */
.main-section-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section-info h1 {
  color: var(--black-color);
  width: 60%;
  font-size: 30px;
  font-weight: bold;
  padding: 150px 0 200px 0;
  text-align: center;
}
.main-section-content {
  display: flex;
  padding: 170px;
  justify-content: center;
  max-height: 50px;
  width: auto;
  background-image: url("../images/curve.png");
  background-position: center top;
  background-repeat: no-repeat;
}
.section-products {
  padding: 10px;
  margin-top: -340px;
  width: 300px;
}
.products-content {
  padding: 15px;
  background-color: white;
  box-shadow: var(--shadow);
}
.products-content h1 {
  font-size: 17px;
  font-weight: bold;
}
.products-content p {
  font-size: 12px;
  font-weight: 400;
}
.products-img-content {
  text-align: center;
}
.products-button {
  background-color: var(--green-color);
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}
.products-button:active {
  background-color: #5e9e22;
}
/* --------------------------- */
/*        DETAIL SECTION         */
/* --------------------------- */
.main-products-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--white-color);
}
.products-description-contents {
  padding: 100px 0;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.product-description-content {
  padding-left: 100px;
  width: 155px;
}
.description-img {
  width: 130px;
}
.main-meintions {
  width: 100%;
  text-align: center;
}
.main-mentions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mention-title-container {
  margin: 0;
  padding-top: 60px;
}
.mention-title-container h1 {
  font-size: 30px;
  font-weight: bold;
  color: var(--black-color);
}
.mentions-items-container {
  margin: 0px 10% 60px;
  display: flex;
}
.item-content {
  padding: 0 5px;
}
.item-content img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.item-info {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--white-color);
  box-shadow: var(--shadow);
}
.item-info h3 {
  margin: 0;
  font-size: 17px;
}
.item-info p {
  margin: 5px;
}
/* --------------------------- */
/*        PAYMENT SECTION      */
/* --------------------------- */
.payment-main-container {
  height: 800px;
}
.payment-container-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-content-item {
  width: 240px;
  height: 260px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  box-shadow: var(--shadow);
}
.payment-content-item h3 {
  text-align: justify;
  font-size: 17px;
  font-weight: bold;
}
.payment-content-item p {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
}
.payment-content-pay {
  width: 240px;
  height: 260px;
  margin: 20px;
  padding: 20px;
  box-shadow: var(--shadow);
}
.payment-content-pay .pay-data {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid var(--black-color);
  border-radius: 2px;
  box-sizing: border-box;
}
.payment-content-pay .products-button {
  margin-top: 10px;
}
/* --------------------------- */
/*        SUCCESS SECTION      */
/* --------------------------- */
.success {
  background-color: var(--black-color);
  width: 100vw;
  height: 100vh;
}
.success-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.success-container h3,
a {
  color: var(--white-color);
}
.success-container a:hover {
  color: var(--green-color);
}
.faqs {
  margin: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.faqs-container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.faqs-container h3 {
  font-size: 30px;
  font-weight: bold;
  text-align: justify;
  margin: 30px 0 10px 0;
}
footer {
  width: 100%;
  height: 60px;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer a {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 400;
  color: var(--green-color);
}
