* {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.header a {
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  color: #1f1f1f;
  font-size: 12px;
}
.header__navApps img {
  width: 16px;
}
.header__navProfile img {
  width: 35px;
}
.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainSection__img {
  width: 50%;
  margin-top: 10%;
}
.inputContainer_voice img {
  width: 18px;
}
